# .gitignore
__pycache__/
*.pyc
# .gitignore
__pycache__/
*.pyc
.venv/
.env
.env/
.DS_Store
.vscode/
.pytest_cache/
check_setup.py
# Dossier de travail temporaire (ne pas récupérer les modifications des étudiants ici)
sandbox/

# LOGS : On ignore tout le dossier logs...
logs/*
# ...SAUF le fichier de données final qu'on veut récupérer
!logs/experiment_data.json
